.TeamTile{
    height: 160px;
    text-align: center;
    align-self: center;
    border: 1px solid white;
    padding: 20px;
    background-color:  #19388a;
    .team-card{
        margin: 30px 30px;
        padding: 20px;
        
        text-align: center;

        .team-card-name{
            justify-self: center;
            align-self: center;
            color : #4f91cd;
        }
    }
}